body{
    background-color:#000;
}
header{
  	background-color:#EEEEEE;
   	height:30px;
}
#header-logo{
  	float:left;
}
#header-navigation {
	 	float: right;
}
#main-container{
	 	margin: 0px auto;
   	min-height: 650px;
   	width: 960px;
   	padding:10px;
   	background-color:#fff;
}
